[2013-03-27 00:49] megahall opened #1 "Interoperability issue between JSCEP client and Sun HttpURLConnection Implementation"
Hello,

I discovered an interoperability problem between the JSCEP Client and the JDK.

The HttpURLConnection implementation contains some code like this:

if (!method.equals("PUT") && (poster != null || streaming()))
    requests.setIfNotSet ("Content-type", "application/x-www-form-urlencoded");

The JSCEP Client does not set Content-Type on the POSTs it makes to the SCEP server.

Because the Con

[2013-03-28 20:28] megahall opened #2 "Unclear debug logs from CertStoreInspector"
[code]

If you have a setup with a CA cert and an RA cert, the issuer string will be the same for both certs. It would make more sense if it used the CN of the cert instead of the CN of the issuer here.

[2013-03-28 20:57] #1 closed, assigned to seize-the-dave

[2013-03-28 21:34] #2 closed, assigned to seize-the-dave

[2013-04-22 06:21] djmalc opened #5 "Strange <<>> symbols throughout doco"
The introductory documentation on the jscep site is quite badly obfuscated by numerous <<>> symbols. It makes it quite hard to follow. Could you please replace these symbols with the secret phrases and/or incantations that should be there?

cheers
Dave M

[2013-04-22 19:05] #5 closed, assigned to nobody

[2013-05-21 19:09] seize-the-dave opened #6 "Doxia dependencies declared as compile scope"
See https://code.google.com/p/jscep/issues/detail?id=92

[2013-05-21 19:11] #6 closed, assigned to seize-the-dave

[2013-06-12 14:29] ImVK opened #8 "Tests for Servlet"
JUnit-Tests for ScepServletTest are red for
testEnrolmentGet, testEnrollmentPost, testEnrollmentWithPoll.

My client has the same problem now.
Please fix the tests or code for valid examples.

Stacktrace:

org.jscep.transaction.TransactionException: Transaction ID Mismatch
    at org.jscep.transaction.EnrollmentTransaction.validateExchange(EnrollmentTransaction.java:125)
    at org.jscep.transacti

[2013-06-12 15:31] #8 closed, assigned to nobody

[2013-06-19 00:25] glenbeasley opened #9 "Poll EnrollmentResponse requires Subject of Issuer"
For Verisign Manage PKI SCEP enrolment was failing when polling requesting GetCertInitilal this is a regression from JSCEP 1.2.2.

The fix:

diff --git a/src/main/java/org/jscep/client/Client.java b/src/main/java/org/jscep/client/Client.java
index dfec513..2cd1e78 100644
--- a/src/main/java/org/jscep/client/Client.java
+++ b/src/main/java/org/jscep/client/Client.java
@@ -668,7 +668,7 @@ public fin

[2013-06-20 13:18] karldmoore opened #10 "SCEP Client doesn't allow a different TransportFactory to be supplied"
I'm writing some unit tests for JSCEP and I can't use the client as it doesn't allow me to supply a different transport factory.  Need to add a setter.

[2013-06-28 07:00] #10 closed, assigned to nobody

[2013-09-02 16:50] #9 closed, assigned to nobody

[2013-10-15 07:41] rafaelrroa opened #13 "Connecting to NDES Server..."
I don't know if I I'm doing it wrong, but I'm not able to check the CA certificate fingerprint when executing getCACert...

I had to code another class extended from MessageVerifier, which I called NDESCACertificateVerifier.

The code for verify function is:

[code]

As I can see, when I ask NDES server for the CA certificate, it sends me the certificate-chain in which CA certificate is contained.

[2013-10-16 14:58] asyd opened #14 "Think about merging jscep-cli into jscep"
Note: I'm far to be a developer, could be nice to have a review on the code

[2013-10-24 13:26] #13 closed, assigned to nobody

[2013-11-12 15:49] pablobill opened #15 "Order of certificates in CertStore not guaranteed after a successful enrollment"
I have only tested this on Mac OSX and Java 7.  If a scep server returns multiple certificates on a successful enroll the order of the certificates in the CertStore is not guaranteed if SUN is the security provider. See this question I posted on stackoverflow - http://stackoverflow.com/questions/19897598/bouncycastle-provider-and-java-sun-provider-interopability-issue .

Section 4.2.1 states that

[2014-03-11 09:30] mmuszkow opened #19 "java.lang.NoSuchMethodError: org.apache.commons.codec.binary.Hex.encodeHexString"
Copy from http://code.google.com/p/jscep/issues/detail?id=93

###### What steps will reproduce the problem? ######
[code]

###### What is the expected output? What do you see instead? ######
I expect "txn" to contain SCEP issued certificate. Instead I get the exception (at client.enrol line):
[code]

###### What version of the product are you using? On what operating system? ######
I use jscep 2.0

[2014-04-23 18:01] demitsuri opened #24 "[Android] [BC] org.bouncycastle.cms.CMSException: Could not create DES cipher"
I've got the following exception while performing SCEP workflow in my android application:

[code]

As you can see, there is something wrong with deciphering.

I saved server response and tried to parse it directly (by copypasting jscep code in my test desktop java app on Oracle's JVM)... and it was parsed well. But when I change provider to Bouncy Castle (add second parameter "BC" here - https://

[2014-04-25 10:29] #24 closed, assigned to nobody

[2014-08-21 20:23] friesendrywall opened #27 "Corrupt pki message"
I dont know where to begin really, but I find that decoding the last output sent to the CA is not in a valid asn1 format.  I inserted code to save the output to file at different points, and find that the cert and request are valid, but after calling enrol, the combined output is wrong.  guiDumpASN shows at the end:

         :                     36 E2 44 AE C2 D1 D7 40 DF 07 7F 74 14 DB 34 B0

[2014-09-12 12:40] JohanPeeters opened #28 "strongest capabilities wrongly diagnosed"
Capabilities#getStrongestMessageDigest() and Capabilities#getStrongestSignatureAlgorithm() compare cryptographic service providers' algorithms with String#equals. Since cryptographic service providers do not adhere to the exact same format for offering their capabilities, this does not always yield the correct answer. Bouncy Castle 1.50, for example, offers SHA512WITHRSA signatures. This should be

[2014-10-10 13:34] #28 closed, assigned to nobody

[2015-01-07 15:03] pauldavidgilligan-msm commented on #24
Hello I am now getting this error too, using bcpkix-jdk15on 1.51 with current release:

{{{
Caused by: java.security.InvalidKeyException: Unwrapping failed
	at com.sun.crypto.provider.RSACipher.engineUnwrap(RSACipher.java:447)
	at javax.crypto.Cipher.unwrap(Cipher.java:2466)
	at org.jscep.message.PkcsPkiEnvelopeDecoder$InternalKeyTransEnvelopedRecipient.unwrapKey(PkcsPkiEnvelopeDecoder.java:155)

[2015-01-07 15:06] seize-the-dave commented on #24
@pauldavidgilligan-msm can you open a new issue please?

[2015-01-07 15:08] seize-the-dave commented on #27
@friesendrywall are you still having this issue?

[2015-01-07 15:09] #19 closed

[2015-01-07 15:09] pauldavidgilligan-msm opened #30 "org.bouncycastle.cms.CMSException: Could not create DES cipher"
Intermittent Exception :  Using BC 1.51 + latest JCEP
[code]

EJBCA is running on OpenJDK in Docker container which might be a problem.

[code]

Here is the cert from EJBCA:

[code]

[2015-01-07 15:10] seize-the-dave commented on #15
@pablobill do you have a test case you can provide?

[2015-01-07 15:14] seize-the-dave commented on #30
@pauldavidgilligan-msm can you try with BC 1.50?

[2015-01-07 15:15] friesendrywall commented on #27
Yes, but other stuff took priority so I have let this lay.

On Wed, Jan 7, 2015 at 10:08 AM, Dave Grant <notifications@github.com>
wrote:

[2015-01-07 15:16] pauldavidgilligan-msm commented on #30
Checked the X.509 cert from EJBCA looks great so not sure why JSCEP is having an issue decoding.

[2015-01-07 15:21] pauldavidgilligan-msm commented on #30
No luck with 1.50 I generate the RSA key via:
[code]

[2015-01-07 15:21] pauldavidgilligan-msm commented on #30
RSA key validates so I don't think as issue.

[2015-01-07 15:25] seize-the-dave commented on #30
@pauldavidgilligan-msm could you rerun with Log4J logging set to DEBUG or TRACE for org.jscep please?

[2015-01-07 15:27] seize-the-dave commented on #27
@friesendrywall if you get time, can you rerun your code with logging for org.jscep set to DEBUG please?

[2015-01-07 16:09] pauldavidgilligan-msm commented on #30
Strange... added in log4J and debug now working again project is https://github.com/pauldavidgilligan-msm/ife-toolbelt

Now I get:
[code]

[2015-01-07 16:09] pauldavidgilligan-msm commented on #30
I always got 2015-01-07 16:06:46 WARN  PkiMessageDecoder:126 - Unable to verify message because the signedData contained no certificates.

though...

[2015-01-07 16:14] pauldavidgilligan-msm commented on #30
[code]

[2015-01-07 16:15] seize-the-dave commented on #30
jscep keeps no state itself so I would expect the success to be down to EJBCA.

Your logs appear to be missing everything below the org.jscep category, e.g. org.jscep.message.  Have you got a custom Log4J configuration?

[2015-01-07 16:18] pauldavidgilligan-msm commented on #30
yes what would be the best log4j.properties setup to debug please ?

[2015-01-07 16:19] seize-the-dave commented on #30
You can copy the following:

https://github.com/jscep/jscep/blob/master/src/test/resources/log4j.properties

[2015-01-07 16:22] pauldavidgilligan-msm commented on #30
ah that is better:

2015-01-07 16:21:35 DEBUG PkiMessageDecoder:81 - Decoding pkiMessage
2015-01-07 16:21:35 DEBUG PkiMessageDecoder:81 - Decoding pkiMessage
2015-01-07 16:21:35 DEBUG PkiMessageDecoder:207 - pkiMessage version: 1
2015-01-07 16:21:35 DEBUG PkiMessageDecoder:207 - pkiMessage version: 1
2015-01-07 16:21:35 DEBUG PkiMessageDecoder:208 - pkiMessage contentInfo contentType: 1.2.840.1135

[2015-01-07 16:26] seize-the-dave commented on #30
This problem is only present when logging is on (and should work in BC 1.50).  I noticed it when I created a branch for testing 1.51, and it's fixed here:

https://github.com/jscep/jscep/commit/615b241a5a8778783e206a83b2cb977f1a8a88ce

If you can build jscep from source, this problem should go away.  I'll be able to do a new release this evening (GMT), but if you can try it out, you'll be able to

[2015-01-07 16:27] pauldavidgilligan-msm commented on #30
nice thanks for the quick reply.

[2015-01-07 18:10] seize-the-dave commented on #30
@pauldavidgilligan-msm

I've just released 2.2.0, which contains the fix linked in the [comment above](https://github.com/jscep/jscep/issues/30#issuecomment-69047246), any also upgrades the BC dependency to v1.51.

[2015-01-07 18:44] seize-the-dave commented on #27
@friesendrywall

I noticed in your code that you used a `DERT61String` instead of a `DERPrintableString`.  This might be the cause of your issue.

[2015-01-09 17:26] pauldavidgilligan-msm commented on #30
Thanks looking much more stable so I will close this.

[2015-01-09 17:26] #30 closed

[2015-02-08 13:04] harishankar-gopalan opened #33 "Reg : Avoid upcasting ASN1ObjectIdentifier to DERObjectIdentifier"
Hii,

I was trying to use the latest jar for running an SCEP server. But i ended up in the bug mentioned as "Avoid upcasting ASN1ObjectIdentifier to DERObjectIdentifier".

I understand this is due to changes in the Bouncy Castle package, and while going through the source i also see that this has been already fixed. By cloning the latest source and building it doesnt give me the error.

I would li

[2015-02-08 14:09] seize-the-dave commented on #33
Which version are you using at the moment?  All changes to master have been
released to Maven Central.
On 8 Feb 2015 13:04, "harishankar-gopalan" <notifications@github.com> wrote:

[2015-02-09 01:41] harishankar-gopalan commented on #33
I used the one shown under https://code.google.com/p/jscep/downloads/detail?name=jscep-2.0.2.jar&can=2&q= . Is there a separate maven release too ? Is so can you provide me the link. Thanks for the great help.

[2015-02-09 01:52] harishankar-gopalan commented on #33
I guess the jscep-2.2.0 is the latest release. Found it on maven. Thank You Mr. Dave.

[2015-02-09 06:58] seize-the-dave commented on #33
You're welcome.

On 9 February 2015 at 01:52, harishankar-gopalan <notifications@github.com>
wrote:

[2015-02-09 06:58] #33 closed

[2015-02-10 14:52] pauldavidgilligan-msm opened #34 "Suggestion for JSCEP mock interface"
Hi,

I wanted to add some tests and would be great to have JSCEP to mock responses to commands such as getCAcert and enroll. I notice you have test code what would be a good starting point please ?

I would like to mock something like this:

[code]

where auto.getCertificate makes a call to:

[code]
Paul

[2015-02-10 14:58] seize-the-dave commented on #34
I'm not sure which part of the client interaction you're trying to mock here.  You could mock Client.class with Mockito, but I'm pretty sure that isn't what you meant.

[2015-02-10 16:23] pauldavidgilligan-msm commented on #34
Thanks, yes that is what I need I will give it a go!

[2015-02-10 18:34] seize-the-dave commented on #34
@pauldavidgilligan-msm can I close this issue?

[2015-02-12 09:27] pauldavidgilligan-msm commented on #34
yes pls thanks.

[2015-02-12 09:27] #34 closed

[2015-03-31 10:47] dveyarangi opened #35 "Failed to read PKIOperation message from MacOS"
Hi,

PKIOperation fails when the protocol is initiated by scep configuration profile on mac os, with following exception:

SEVERE: Servlet.service() for servlet [RA] in context with path [/scep-ra] threw exception [org.bouncycastle.cms.CMSException: IOException reading content.] with root cause
java.io.IOException: corrupted stream - out of bounds length found
        at org.bouncycastle.asn1.ASN1

[2015-03-31 10:49] seize-the-dave commented on #35
@dveyarangi what version of jscep are you using?

[2015-03-31 10:50] #14 closed

[2015-03-31 10:50] dveyarangi commented on #35
2.1.0

[2015-03-31 10:50] #15 closed

[2015-03-31 10:51] #27 closed

[2015-03-31 10:52] seize-the-dave commented on #35
@dveyarangi can you confirm this is still an issue in 2.2.0 please?

[2015-03-31 11:05] dveyarangi commented on #35
yes, still an issue, with bouncy 1.51 and jscep 2.2.0

[2015-03-31 11:38] dveyarangi commented on #35
Ugh, just a note, it took me an effort to discover this, and i'm not sure where to put this - for GetCACert to work with mac scep client, scep registration authority has to return 3 certificates - CA, and two RA, one marked for CEP encryption and the other for EnrollmentAgentOffline

[2015-03-31 11:42] seize-the-dave commented on #35
Thanks @dveyarangi.  I think configuration to support a particular SCEP client is beyond the scope of jscep, but it might be worth writing a blog post if you're so inclined. :smile:

[2015-03-31 13:25] Saudriel opened #36 "mvn clean install fails"
Need to remove parent field from pom.xml to build the project with Maven.

[2015-03-31 16:00] seize-the-dave commented on #36
@Saudriel do you have any more details?  `mvn clean install` has been working for about 4 years :smiley_cat:

[2015-03-31 16:02] Saudriel commented on #36
Oh wow I'm sorry I meant to comment this to the fork that uses Spongycastle.

[2015-03-31 16:02] #36 closed

[2015-03-31 16:03] seize-the-dave commented on #36
No worries!

[2015-03-31 17:36] seize-the-dave commented on #35
This issue appears to be that the byte string length is too long.  Can you enable debug logging on the server and add the log to this issue please?

[2015-03-31 17:46] seize-the-dave commented on #35
Also, did you enable HTTP POST in `doCapabilities()`?

[2015-03-31 18:33] seize-the-dave commented on #35
I wrote a test case here:

https://github.com/jscep/jscep/blob/issue-35/src/test/java/org/jscep/server/Issue35Test.java

[2015-04-05 11:12] dveyarangi commented on #35
Hey, sorry for the delay.
HTTP POST capability fixed this. I had removed it initially, because I wanted jscep responses to be as close as possible to MSCEP to understand my earlier problems.
Thanks!

[2015-04-20 07:23] zeroflag opened #37 "Endless loops in unsynchronized WeakHashMap"
Unsynchronized access to java.util.WeakHashMap may cause an endless loop in DefaultCertStoreInspectorFactory. I encountered this problem when I was trying to enroll multiple certificates concurrently.

More info:
http://www.adam-bien.com/roller/abien/entry/endless_loops_in_unsychronized_weakhashmap

[2015-04-20 07:50] #37 closed

[2015-04-20 18:44] #35 closed

[2015-05-13 11:25] rajeshkarthik commented on #35
hello all,

 I am really sorry if I am too late into discussion, but of late am facing an identical issue when I am trying SCEP enrolment with Mac. The error is same as above but it seems like am using JSCEP server with POST enabled. can you please help me out?

[2015-05-13 11:26] seize-the-dave commented on #35
Hi @rajeshkarthik, this issue is closed.  If you are running into the same problem please can you create a new issue, complete with logs, etc?

[2015-05-18 07:54] rajeshkarthik opened #39 "PKIOperation - IOException - Mac OSX 10.10.3"
Hello

 I am trying to enrol for a certificate with a jscep server and Mac native OSX client - I keep getting error (-603) on the client side. The server side logs suggest that it was an IOException content longer than expected.

[code]

[2015-05-18 09:34] seize-the-dave commented on #39
Can you provide logs too please?

[2015-05-22 13:11] rajeshkarthik commented on #39
I have pasted the message that I see on the server side. Could you please tell me which logs you are looking for?

[2015-05-22 14:36] seize-the-dave commented on #39
You should be able to configure log4j to get a trace of what jscep is doing.  See the following file for an example:

https://github.com/jscep/jscep/blob/master/src/test/resources/log4j.properties

[2015-05-25 06:54] rajeshkarthik commented on #39
I tried the TRACE logging but am not seeing any more logs than the above logs. I am feeling like to totally stuck. could you please look into this

[2015-05-26 13:03] rajeshkarthik commented on #39
Got this resolved by supporting POST. Thanks for your help

[2015-05-26 13:05] #39 closed

[2015-05-29 11:24] rajeshkarthik opened #40 "GET fails when POST enabled"
Hello

 I am having a problem that all my client requests are POST as soon as I enable POST. Until now they were GET.

 When I try to process the POST requests, I am unable to get the request contents. I get null pointer exception.

java.lang.NullPointerException
	at org.jscep.server.ScepServlet.getMessageBytes(ScepServlet.java:508)
	at org.jscep.server.ScepServlet.service(ScepServlet.java:109)

H

[2015-05-29 11:41] seize-the-dave commented on #40
Which version of jscep are you using @rajeshkarthik?

[2015-05-29 13:22] seize-the-dave commented on #40
The line numbers for ScepServlet.java don't appear to match the source code for any tag.  Have you modified the code?

[2015-05-29 20:49] rajeshkarthik commented on #40
I have added few debug lines. Could you please tell me how do I support both get and post for jscep

[2015-05-29 20:54] seize-the-dave commented on #40
It already supports both.  What object is causing the NPE?

[2015-05-30 04:10] rajeshkarthik commented on #40
The issue that I see is - when I don't explicitly enable POST in CA capabilities, I get a POST request on the server side and when I try to extract the contents - request content is null. but when I don't enable the POST, I get a GET request and am able to extract contents.

[2015-05-30 13:56] rajeshkarthik commented on #40
I think it was too much misleading - i meant to say when I dont enable POST - i get a GET request and wirks good but when I do enable POST in CA capabilities - I always get POST and content is null

[2015-06-01 18:59] rajeshkarthik commented on #40
any pointers on this - for jscep client - its going in POST but request content is null.

[2015-06-02 08:18] seize-the-dave commented on #40
I can't provide any pointers without debug logs.

[2015-06-02 08:26] rajeshkarthik commented on #40
This was related to char encoding and the POST getting rejected by tomcat. I am able to get through this by setting the encoding explicitly.

[2015-06-02 08:26] #40 closed

[2015-06-11 20:09] xipki opened #41 "Incomming message with invalid signature will be accepted"
SignerInformationVerifier verifier;
try {
   verifier = new JcaSimpleSignerInfoVerifierBuilder().build(cert);
   signerInfo.verify(verifier);
  LOGGER.debug("pkiMessage verified.");
} catch (CMSException e) {
  throw new MessageDecodingException(e);
} catch (OperatorCreationException e) {
  throw new MessageDecodingException(e);
} catch (CertificateException e) {
  throw new MessageDecodingExcepti

[2015-06-11 20:11] seize-the-dave commented on #41
Could you create a pull request please?

On Thu, 11 Jun 2015 21:09 Lijun Liao <notifications@github.com> wrote:

[2015-06-22 06:52] pauldavidgilligan-msm opened #43 "Testing the client"
Hi,

We have been using the scep client thing are going great now good job! I asked a while ago about adding in tests to your client app and you suggested mockito. Do you have an example maybe of typical data and setup for a simple test please ? Then I can expand on that.

Paul

[2015-06-22 07:57] seize-the-dave commented on #43
Hi Paul,

I'm glad to hear you're finding jscep useful!

The two main injection points in Client are setCertStoreInspectorFactory and setTransportFactory.  Take a look at how the Client uses those and you should have a good idea how you can introduce tests.

Dave

[2015-07-01 13:54] pauldavidgilligan-msm opened #44 "org.jscep.transport.TransportException: 501 Not Implemented"
Just upgraded against EJBCA Community 6.3.1.1 version and getting the above error.

Our acceptance tests pass within a docker container but when ran from VM and enrolling to localhost we get his failure.

I noticed strange chars from the stdout which are just due to copy/paste:

 2015-07-01 13:36:03 [âœ—] Certificate Rollover

[code]

any ideas ?

[2015-07-01 14:42] seize-the-dave commented on #44
The strange characters are ticks and crosses, used to indicate support for certain capabilities.  I suspect something in your execution environment isn't using unicode.

I have no idea about the EJBCA 501, I'm afraid.

[2015-07-01 19:23] pauldavidgilligan-msm commented on #44
Interesting might be due to upgrade then, I will check the details later in the week let you know thanks

[2015-07-01 19:24] seize-the-dave commented on #44
:thumbsup:

[2015-07-02 14:32] pauldavidgilligan-msm commented on #44
Hey found the issue the CA was built without export Java policies by accident so not an issue with your super code.. closing

[2015-07-02 14:32] #44 closed

[2015-07-09 07:04] seize-the-dave commented on #41
Thanks xipki!

[2015-07-09 07:04] seize-the-dave commented on #41
Thanks for your contribution @xipki

[2015-07-09 07:04] #41 closed

[2015-08-05 14:48] lweijl commented on #44
@pauldavidgilligan-msm could you please explain a bit more about the issue and how to fix it? I do not understand what you mean with "CA was built without export Java policies". Am having exactly the same error and am not getting any closer to a solution. You're my first and best lead at this point.

[2015-08-06 07:50] seize-the-dave commented on #44
@lweijl I suspect @pauldavidgilligan-msm means that the server running EJBCA wasn't using the unlimited strength JCE policy files.  See here:

http://www.ejbca.org/docs/installation.html#Installation guide

[2015-08-18 07:03] pauldavidgilligan-msm commented on #44
correct yes see above

[2015-10-31 15:15] csikosbalint opened #48 "SCEP CertRep SUCCESS: how many certs are in the response?"
I also find this implementation very useful, thank you! I have a question at http://stackoverflow.com/questions/33410084/scep-certrep-success-how-many-certs-are-in-the-response

I copied here. I was wondering if you can help me. Thanks!

I am working on an SCEP implementation (both requester and authority). The project uses JScep as a library.

During the communication for a PKCSReq the client rec

[2015-11-02 08:44] seize-the-dave commented on #48
The whole certificate chain may be presented, but not necessarily.  Generally I would expect SCEP servers to provide everything you need to establish a chain of trust.

If you call `enrol` and the resulting `EnrollmentResponse` is successful (`isSuccess()`), you can then call `getCertStore` to access a `java.security.cert.CertStore`.  That `CertStore` will contain all the certificates sent by the

[2015-11-05 00:48] adityamalik opened #49 "CMSException: Could not create DES cipher"
Hello,

I am working with JSCEP 2.3.0, BC 1.51, and JRE 1.8.0_60. The server is using Windows Server 2008 with NDES and the client is using RHEL 5.3. One more thing, I am aware about getCACaps operation not working with NDES by default and I am currently working to install the hotfix released by Microsoft. I wanted to know if following Exception is related to getCACaps not returning anything meani

[2015-11-05 15:04] seize-the-dave commented on #49
Hi @adityamalik, can you post your logs please?

[2015-11-05 23:35] adityamalik commented on #49
Hey, log file below. By the way, I was able to install a hotfix Microsoft has for getting getCACaps to work for NDES. NDES now accepts getCACaps operation and replies with its capabilities. However, I do still see the decryption exception.

Another thing to note, I tried to call getCaCapabilities after creating the client, but before calling enrol in order to get the strongest signature algorithm

[2015-11-06 10:25] seize-the-dave commented on #49
@adityamalik can you create another issue with respect to the `WARN` about the content-type please?

[2015-11-06 10:41] seize-the-dave commented on #49
Can you share the code you're using to call `enrol()` please?  In particular, can you check that you're using a matching key pair?

[2015-11-06 16:27] adityamalik commented on #49
Below is the code I am using. I generally followed the example in Readme.md, but I added comments for anything extra I added.
[code]

[2015-11-08 18:30] seize-the-dave commented on #49
Try replacing `entityPrivateKey` with `requesterPrivKey` in `enrol`.

[2015-11-11 00:18] adityamalik commented on #49
@seize-the-dave Thank you! That worked! I am curious though.

The readme mentioned the following when trying to sign the certificate request: "When you've finished adding your attributes, you must then sign your CSR with your entity's private key." Is this a typo in the readme or did I have to use ```requesterPrivKey``` instead of ```entityPrivateKey``` in this specific case?

[2015-11-11 08:22] seize-the-dave commented on #49
The manual is correct.  You need to sign the CSR with `entityPrivateKey`, but provide `requesterPrivKey` to the `enrol` method for the SCEP operations.

[2015-11-11 08:22] #49 closed

[2015-12-09 17:55] adityamalik opened #51 "Building jscep source using Maven"
Hey @seize-the-dave,

I downloaded the latest release (jscep-2.3.0) and I would like to build the project myself. Using the POM file that comes with the source through Eclipse (with M2Eclipse) should be sufficient to build my own JAR file correct?

Thanks,
Aditya

[2015-12-10 08:17] seize-the-dave commented on #51
@adityamalik yes, it ought to work just fine.

[2015-12-10 08:17] #51 closed

[2015-12-10 08:17] #48 closed

[2015-12-10 08:17] #43 closed

[2016-01-13 19:08] adityamalik opened #52 "Invoking getCACertificate and getCACapabilities in Client"
Hey @seize-the-dave,

I noticed that in the Client class both getCACertificate and getCACapabilities are invoked from several different methods during enrollment, polling, etc. For example, during enrollment, getCACertificate is called by getEncoder and getDecoder, both of which are called by enrol.

Was there a particular reason to handle the method calls this way? In other words, would an altern

[2016-01-14 07:58] seize-the-dave commented on #52
@adityamalik no reason for it.  Can you open a pull request with the necessary changes for review?

[2016-01-14 07:58] #52 closed

[2016-03-08 17:16] adityamalik opened #53 "Running Jscep 2.3.0 with either Java 1.6 or Java 1.7"
Hi @seize-the-dave,

I am working with Jscep 2.3.0 (running it with Java 1.8), and I am happy with the product. I would like to run it with an earlier version of Java, either 1.6 or 1.7; will Jscep 2.3.0 run fine with these versions? What is the minimum Java version required to run Jscep?

Thanks,
Aditya

[2016-03-08 17:18] seize-the-dave commented on #53
I'm not sure.  I'm pretty sure it out to run with 6+.

Dave
On 8 Mar 2016 5:17 pm, "adityamalik" <notifications@github.com> wrote:

[2016-04-26 15:09] gcamus opened #55 "Certificate renewal issue java.security.SignatureException: Signature length not correct: got 512 but was expecting 128"
Hi @seize-the-dave

We have an issue when we try to renew a certificate.

We obtain the following exception :

The problem appears because when we renew, we use the issued certificate from CA which has signed the certificate with a stronger

See PR #54
Stacktrace :
Caused by: org.bouncycastle.operator.RuntimeOperatorException: exception obtaining signature: Signature length not correct: got 512 bu

[2016-04-26 15:14] gcamus commented on #55
See PR #54

[2016-04-27 08:19] #55 closed

[2016-09-08 17:41] xipki opened #57 "Release of jscep version 2.4.0"
When do you plan to release the version 2.4.0?

[2016-09-08 18:15] seize-the-dave commented on #57
Will see what I can do this week!

On 8 Sep 2016 6:41 p.m., "Lijun Liao" <notifications@github.com> wrote:

[2016-09-15 19:59] sbose78 opened #58 "Need to add a new test for 3-DES encryption algorithm in message envelope"
Need to add a unit test for covering
https://github.com/jscep/jscep/blob/master/src/main/java/org/jscep/message/PkcsPkiEnvelopeEncoder.java#L106

[2016-09-16 08:37] #58 closed

[2016-09-16 08:38] #53 closed

[2016-09-16 09:53] sbose78 opened #60 "Test for encryption of envelope using AES should fail, but passes."
Hi,
I've added this piece of test ( to /jscep/src/test/java/org/jscep/message/PkiMessageEncoderTest.java ) , expecting it to fail but strangely it passes.
Even though there are 2 supported symmetric algorithm here https://github.com/jscep/jscep/blob/master/src/main/java/org/jscep/message/PkcsPkiEnvelopeEncoder.java#L103
( DES,and triple DES ) , I see the test for AES256 passing.

Could you please

[2016-09-16 10:22] sbose78 commented on #60
OK i know why this happens, it gets defaulted in the `else` block to triple-DES.

[2016-09-16 13:46] sbose78 opened #61 "Add support for AES-128"
Why: Many SCEP servers might have capabilities to use AES-128 for symmetric encyption.

[2016-09-17 05:33] sbose78 opened #63 "Question : Supported versions/vendors of Java"
Hi,
Could you please tell me if we know which versions/vendors of Java is supported for use with JSCEP ? I was hoping the readme would throw some light on that. I could help with PRs to add the info in the readme if you think that's a good idea.

I tried out with Oracle Java 8 and the tests ran fine. Do you use any other 'tests' to certify the Java version/vendor ?

[2016-09-17 13:07] seize-the-dave commented on #63
No, it just builds against the latest JDK.  Feel free to add JDKs to
.travis.yml in a PR.

Dave

On 17 Sep 2016 6:33 am, "Shoubhik Bose" <notifications@github.com> wrote:

[2016-09-18 15:20] sbose78 commented on #63
Thanks, I shall keep this open and assign it to me.
I will ask you for further assistance  as/when necessary.

[2016-09-19 05:04] sbose78 opened #64 "Add support for AES-256 and AES-192"
Currently, supported symmetric cipher algorithms are DES, 3-DES.
This issue will be tracking the addition of support for AES-256.

( I am taking up the development for this ).

Potential pitfalls:
- might need unrestricted policy jars. ( Applies for AES-192 and AES-256 )

**Please do not close this**

[2016-09-21 11:19] #61 closed

[2016-09-21 15:05] sbose78 commented on #63
Partially taken care in https://github.com/jscep/jscep/pull/65

[2016-09-22 09:38] #64 closed

[2016-10-12 20:49] WesBunton opened #67 "Maven Build Failing"
I'm having an issue building the current JSCEP release. I suppose it could be a build environment issue, however I've been searching for information regarding JSCEP for hours and cannot find any additional info. My point being is that the lack of build environment info could itself be a valid issue. I've reviewed the POM files, and it seems like it has everything it needs to build successfully. I'

[2016-10-12 21:07] WesBunton commented on #67
Update: This is technically a build environment issue because the recently added AES tests require the unlimited crypto JARS to be in place. This was the cause of my issue.

[2016-10-12 21:07] #67 closed

[2016-10-13 15:05] WesBunton commented on #51
I know this is a closed issue, but it's somewhat relevant to my current efforts.

I'm attempting to build jscep, and am new to the Maven tool. I can get the 'release:prepare' step almost completed, however, the last step seems to be attempting to commit and push my current repo. I was unaware this would be a build step.

I would really like to simply build the project locally, without any git comm

[2016-10-25 06:15] AshiqKony opened #68 "Getting exception while scep enrollment from device"
Hi,

I am trying to connect to scep server to get certificate but getting following exception

org.jscep.client.ClientException: org.jscep.transport.response.InvalidContentTypeException: Expected [application/x-x509-ca-cert, application/x-x509-ca-ra-cert], but was text/html;charset=ISO-8859-1

Can you tell me the reason for this

Thanks & Regards,
Ashiq Sayyad

[2016-10-25 08:17] seize-the-dave commented on #68
Your SCEP server appears to be serving HTML content.  I would consider visiting the endpoint using a web browser first.  This isn't a jscep issue, so I'm closing it.

[2016-10-25 08:17] #68 closed

[2016-10-25 18:31] seize-the-dave commented on #68
I believe your SCEP server is serving up HTML.  This isn't a jscep bug.

On 25 Oct 2016 7:15 am, "AshiqKony" <notifications@github.com> wrote:

Hi,

I am trying to connect to scep server to get certificate but getting
following exception

org.jscep.client.ClientException:
org.jscep.transport.response.InvalidContentTypeException:
Expected [application/x-x509-ca-cert, application/x-x509-ca-ra-cert],

[2016-11-01 09:46] seize-the-dave commented on #57
This is complete.  Please see here:

https://github.com/jscep/jscep/releases/tag/jscep-2.4.0

[2016-11-01 09:46] #57 closed

[2016-11-03 18:30] oleg-alexeyev commented on #64
Hi!
What about supporting AES in GetCACaps in ScepServlet? Currently Capability enum misses it.
According to https://tools.ietf.org/html/draft-gutmann-scep-03, there is now "AES" keyword.

[2016-11-03 18:34] seize-the-dave commented on #64
@oleg-alexeyev: can you create a PR?

[2017-04-25 07:04] Blackjack92 opened #69 "How to handle Attribute Certificates"
Hello,
is it also possible to handle Attribute Certificates (ACs)) via JSCEP? - Because JSCEP supports the `X509Certificate` from `java.security.cert` and this class contains a `getPublicKey` method, which is not part of the AC. So, should the `X509Certificate` be used without a public key for the AC or should a new `AttributeCertificate` be implemented and the JSCEP enhanced?

[2017-04-25 07:27] seize-the-dave commented on #69
I'm sorry, but this is beyond the scope of this library.  Please feel free to continue this discussion on our mailing list: jscep-support@googlegroups.com

[2017-04-25 07:27] #69 closed

[2017-05-23 11:03] seize-the-dave opened #70 "Sending RDNs in Reverse Order for IssuerAndSerial"
From Kevin Wallis:

The following code yields error logs from OpenXPKI

[code]

Error log:

`openxpki.application.ERROR:31458 [OpenXPKI::Service::SCEP::Command::PKIOperation (/usr/lib/x86_64-linux-gnu/perl5/5.20/OpenXPKI/Service/SCEP/Command/PKIOperation.pm:255); scep-server-1()@2dec] SCEP getcrl - no issuer found for serial 511 and issuer DC=ORG,DC=OpenXPKI,OU=Test CA,CN=CA ONE`

Note the differe

[2017-05-23 11:12] seize-the-dave commented on #70
`getRevocationList` calls `new X500Name(issuer.getName())`.  X500Name is encoded by BouncyCastle, so this is really out of our control at this point.

There are optional arguments to both `X500Principle.getName()` and the `X500Name` constructor.  The test case should be whether encoding and decoding the X500Name yields the same representation on the jscep side.

[2017-05-23 11:13] seize-the-dave commented on #70
Created new branch for some test cases: https://github.com/jscep/jscep/tree/issue-70

[2017-05-23 13:00] seize-the-dave commented on #70
Original message can be seen here: https://lapo.it/asn1js/#308006092A864886F70D010702A0803080020101310F300D06096086480165030402030500308006092A864886F70D010701A080248004820225308006092A864886F70D010703A080308002010031820174308201700201003058305331133011060A0992268993F22C64011916034F524731183016060A0992268993F22C64011916084F70656E58504B493110300E060355040B0C07546573742043413110300E06035504030C07526

[2017-06-23 08:22] ngaya-ll opened #72 "Incorrect response format for GetNextCACert operation in ScepServlet"
The current [SCEP spec](https://www.ietf.org/id/draft-gutmann-scep-06.txt) section 4.7.1 states that the response to a `GetNextCACert` request should be Signed-Data CMS message signed by the current CA certificate key, whose contents are a degenerate Signed-Data message containing the new certificates.

The current implementation of `ScepServlet.doGetCaCert()` returns a single degenerate Signed-Da

[2017-06-23 08:29] #63 closed

[2017-06-23 18:32] ngaya-ll commented on #72
Yes, but it'll take me a little while.  I'd like to update the client and tests as well.

[2017-07-06 00:50] ngaya-ll commented on #60
`AES_256` is supported as of #66.  Also, as of #71 the encoder will throw an `IllegalArgumentException` if the algorithm name is unrecognized.

[2017-07-06 07:50] seize-the-dave commented on #60
Thanks @ngaya-ll.  Closing this issue now.

[2017-07-06 07:50] #60 closed

[2017-11-15 18:10] oleg-alexeyev opened #74 "ScepServlet does not provide signer certificate for renewal authentication"
https://tools.ietf.org/html/draft-gutmann-scep-06#section-2.3:

   Section 2.4 SHOULD omit the challengePassword but MAY send the
   originally distributed password in the challengePassword attribute.
   In the former case the SCEP CA MUST authenticate the request based on
   the certificate used to sign the renewal or update request.

The problem is that `ScepServlet.doEnrol()` isn't provided wit

[2017-11-15 18:11] oleg-alexeyev commented on #74
I'm going to create a PR soon.

[2017-11-24 18:30] #74 closed

[2017-12-14 17:58] seize-the-dave opened #78 "iOS 11 breaks Base64 encoding for jscep Servlet"

[2017-12-14 19:21] #78 closed

[2017-12-14 19:21] seize-the-dave commented on #78
Fixed by #79

[2018-04-19 08:40] netcat-pl commented on #70
This isn't true that this error is caused by BouncyCastle. X500Principal.getName() returns DN string formated according to RFC2253 which means that all RDNs are formated in reverse order. And that is the case. You can't use this function to construct org.bouncycastle.asn1.x500.X500Name object. So the code in org.jscep.client.Client.getRevocationList():
[code]
And the code in org.jscep.client.Clien

[2018-04-19 10:43] seize-the-dave commented on #70
@netcat-pl are you will to provide a pull request for this?

[2018-04-19 13:00] #70 closed

[2018-04-19 13:00] seize-the-dave opened #86 "Build with JDK 10"
See https://github.com/travis-ci/travis-ci/issues/9368

[2018-04-19 13:07] seize-the-dave commented on #70
This is now available in release 2.5.1

[2018-06-18 21:14] dbyron0 opened #88 "500 response on bogus operation parameter"
One of the calls to getOperation in [ScepServlet.java](https://github.com/jscep/jscep/blob/master/src/main/java/org/jscep/server/ScepServlet.java#L112) is wrapped in a try/catch block looking for IllegalArgumentException.  Unfortunately there's an earlier call in [getMessageBytes](https://github.com/jscep/jscep/blob/master/src/main/java/org/jscep/server/ScepServlet.java#L626) that isn't.  As a res

[2018-06-18 22:16] dbyron0 commented on #88
See https://github.com/jscep/jscep/issues/88 for a crack at fixing this.

[2018-10-17 09:46] #86 closed

[2018-10-17 09:47] #88 closed

[2018-10-18 17:36] ngaya-ll commented on #72
Not sure why this was closed, I didn't get a chance to provide a PR but this is still a bug, the server implementation is not compliant with the spec.

[2018-10-18 18:04] seize-the-dave commented on #72
Thanks @ngaya-il.  I'll keep it open.

[2019-01-21 10:51] CarvalhoLeonardo opened #95 "Version based on JDK 11 and Spongycastle"
Hi.

I'm testing the use of this project on one interacting with the Java SDK for Hyperledger Sawtooth. The tests are running. _(they are awesome, congrats!)_

But I would need to use [Spongy Castle](https://rtyley.github.io/spongycastle/) jars, to keep compatibility, so, I doubt a push request would be advisable.

What would suggest when I push my changes? A "bouncycastle" suffix, or a branch on

[2019-02-07 19:20] bb-froggy opened #96 "randomNonce in SCEP messages are not allowed per RFC"
**Describe the bug**
[Version 13 of the SCEP RFC](https://tools.ietf.org/html/draft-gutmann-scep-13#section-3.2.1) specifies in Section 3.2.1 which attributes are allowed and/or required in a SCEP message. I see a senderNonce (2 16 840 1 113733 1 9 5) and recipientNonce (2 16 840 1 113733 1 9 6), but no randomNonce (1 2 840 113549 1 9 25 3). However, the sample messages seem to include a randomNon

[2019-02-19 12:17] fencepost-error commented on #96
It doesn't define what's allowed, merely the minimum that's required, you can add any extra attributes you like.  In this case the messages were generated by an implementation that always adds a randomNonce (to deal with signing predictable messages if there are weaknesses in the hash function used), which is perfectly valid - think of it as a test of an implementation's ability to handle arbitrar

[2019-02-22 06:19] bharathbofl opened #97 "Scep enrollment getting failed in cisco Router using an RA scep server"
Feb 22 06:12:29.940: CRYPTO_PKI: Prepare global revocation service providers
*Feb 22 06:12:29.954: ../cert-c/source/p7spprt.c(633) : E_ENCRYPT_ALG_NOT_SUPPORTED : message encryption algorithms not supported
*Feb 22 06:12:29.962:  Invalid signer count value 0
*Feb 22 06:12:29.962: CRYPTO_PKI: status = 0x762(E_ENCRYPT_ALG_NOT_SUPPORTED : message encryption algorithms not supported): pkcs7 verify dat

[2019-03-25 14:11] michelebortolato opened #98 "isSelfSigned method fails for hybrid certificate verification"
**Describe the bug**
I cannot renew an (RSA) certificate if it is emitted by an EC CA the exception returned is:

[code]

**To Reproduce**
Call Client.isSelfSigned with an RSSA Certificate issued with an EC CA

**Expected behavior**
The method isSelfSigned shout catch the proper exception handling the correct exception

[2019-04-11 20:13] seize-the-dave commented on #98
Hi @michelebortolato, what exception class are you expecting?

[2019-04-11 20:14] seize-the-dave commented on #97
@bharathbofl do you know which algorithms aren't supported, and what your SCEP server is using?

[2019-04-11 20:14] #96 closed

[2019-04-11 20:19] seize-the-dave commented on #95
Thanks @CarvalhoLeonardo!  Have you seen this here: https://groups.google.com/forum/embed/#!topic/jscep-support/FtUrH1JFJCA

I think a fork is probably more appropriate than a branch if that suits you?

[2019-04-12 07:40] michelebortolato commented on #98
In this case Client.isSelfSigned should catch the proper exception and return false, or the enroll process will fail.

[2019-04-12 07:47] seize-the-dave commented on #98
@michelebortolato could you provide a pull request for this?

[2019-04-12 07:50] michelebortolato commented on #98
I should give you an renew request from a RSA certificate issued by an ec certificate.. a bit trycky i suppose. i shuld play with openssl a bit...

[2019-04-12 09:52] michelebortolato commented on #98
whith this certificate
`-----BEGIN CERTIFICATE-----
MIICgjCCAeMCAQEwCgYIKoZIzj0EAwIwRTELMAkGA1UEBhMCSVQxEzARBgNVBAgM
ClNvbWUtU3RhdGUxETAPBgNVBAoMCFRFU1RfT1JHMQ4wDAYDVQQDDAVDTjEyMzAe
Fw0xOTA0MTIwODM1MTJaFw0yMDA0MTEwODM1MTJaMEUxCzAJBgNVBAYTAklUMRMw
EQYDVQQIDApTb21lLVN0YXRlMRAwDgYDVQQKDAdSU0FfT1JHMQ8wDQYDVQQDDAZS
U0FfQ04wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDJB9l5lV2LRMSw
mB82yEw6sfiBZYf8jRlW9xW

[2019-05-07 12:24] imrsk opened #102 "InvalidContentTypeException: Expected [application/x-x509-ca-cert, application/x-x509-ca-ra-cert], but was null"
Hi,
      I read- https://github.com/jscep/jscep/issues/68 -this issue from another user regarding the same problem I'm facing. You'd said that there has to be some problem on the server side. From chrome, I reached this url http://[host]/certsrv/certrqus.asp and got the certificate successfully. So the server is working fine (at least as far as I know).
      As you'd said, the server is providin

[2019-05-08 06:47] imrsk commented on #49
Hi Aditya, I'm saravana. I'm doing the same project. I need some help. Can you please help me? I'm working on this for 5 days and didn't even had a little progress. I'm in desperate need of help. Please help me out brother.

[2019-05-14 06:40] imrsk opened #103 "PkiMessageDecoder - Unable to verify message because the signedData contained no certificates."
Hi,
     Thanks for your code, sir. I have made the necessary changes to the code and when I run the code, the certificate gets enrolled in the certsrv. But I'm not getting a certificate in return.
     My question is, "Can I get the certificate back in response?".

[2019-05-14 18:16] #103 closed

[2020-02-06 05:38] MrLango opened #137 "Ignoring case while checking for the response from GetCACaps message"
We are using a server that sends POSTPKIOperation as PostPkiOperation for the response from GetCACaps message. If it was not case sensitive, we can use your library.
Right now, client doesn't recognise HTTP POST and sends a HTTP GET request as PKIOperation. This results in an error.

[2020-09-24 07:38] winniegy opened #149 "Use apache commons-lang3 instead of commons-lang"
**Is your feature request related to a problem? Please describe.**
jscep depdends on commons-lang 2.6, which has stopped maintenance since 2011. Offically Apache has continued with commons-lang3 and outdated commons-lang. The outdated dependency would possibly be a problem for the users of jscep.

**Describe the solution you'd like**
Switch from commons-lang to commons-lang3

**Describe alternativ

[2020-11-20 15:14] venkateshdomakonda opened #152 "JSCEP client : verification of pkimessage failed due to missing content-type for certificate initial enrollment"
I am currently investigating the integration of JSCEP client with openxpki for certificates. I am using openxpki-docker steps along with openxpki-sample config for the setup. I managed to start the openxpki CA and issue/download the certificates over GUI which is manual task.

I am trying to automate the certificate enrollment/renewal using the JSCEP client towards openxpki CA.

I followed the JSC

[2021-03-01 13:37] aloopkin opened #157 "Error verifying signing time"
**Describe the bug**
The bug happens when using JSCEP as a server library.
In some SCEP client implementation, it happens that the client SCEP certificate is generated a few milliseconds in the future relatively to the signing time. Since anyway this certificate is used only to secure the messages through signature, its validity date can probably be safely ignored.

JSCEP currently generates the f

[2021-09-06 11:00] kuehne-trustable-de opened #180 "More flexible matching of encryption certificate"
We've seen problems with closed source software talking to an scep server component implementd using jscep. The problem is caused by the client reordering the RDNS in the recipient cert. Therefopre the matching of the encryptor fails.

Your current code is completely correct! Nevertheless I would suggest to implement an optional, more relaxed RecipientInfo matcher (in PkcsPkiEnvelopeDecoder.decode

[2021-09-26 03:00] eamonzzz opened #183 "Whether it meets the requirements of rfc8894 draft？"
Hello，

I have a question，
Which scep draft is the current version based on? Does it meet the requirements of the latest rfc8894 draft?

Thanks！

[2021-10-19 09:04] kuehne-trustable-de opened #184 "make servlet optional"
The use of jscep in a not servlet-based is a bit tricky and some advantages (of the Spring environment) are lost of difficult to use. Especially testing is challange as the servelt ist started before the usual test frameworks have a chance to instrument the environment.

My proposal is to separate the non-servlet related code out of ScepServlet.java into a SCEP request handling class (e.g. called

[2021-10-19 09:14] kuehne-trustable-de opened #185 "Fix issueManagement link in pom.xml"
The pom points the old issue management URL at google:

       ´<issueManagement>
		<system>Google Code</system>
		<url>http://code.google.com/p/jscep/issues/list</url>
	</issueManagement>´

Please update to github.

       ´<issueManagement>
		<system>github</system>
		<url>https://github.com/jscep/jscep/issues</url>
	</issueManagement>´

[2022-01-12 08:25] #149 closed

[2022-01-12 08:29] seize-the-dave commented on #185
@kuehne-trustable-de can you create a PR please?

[2022-01-12 08:29] seize-the-dave commented on #184
@kuehne-trustable-de can you create a PR for this work so I can review?

[2022-01-12 08:32] seize-the-dave commented on #183
@eamonzzz based on https://datatracker.ietf.org/doc/html/draft-nourse-scep-23

[2022-01-12 08:33] seize-the-dave commented on #180
@kuehne-trustable-de better to be useful that correct, so a PR would be great, thank you.

[2022-01-12 08:33] #157 closed

[2022-01-12 08:36] seize-the-dave commented on #137
@MrLango if you want to contribute a case-insensitive comparison, I'd be happy to review it.

[2022-02-09 12:46] aloopkin opened #209 "Release new version"
Hello,

Would it be possible to release a new version of JSCEP ?
By looking at the commit history, there's been quite a lot of work done since last version that was released almost 3 years ago...

Alexandre

[2022-03-03 20:35] jervin opened #218 "PkiMessageEncoder constructor hardcodes in the signature algorithm as SHA1 based"
**Describe the bug**
If I use the constructor for PkiMessageEncoder where I include a certificate chain, the signature algorithm is set to SHA1withRSA with no means to change it.  I would like to be able to change it to SHA256 or better.

[code]

[2022-03-07 21:27] kuehne-trustable-de opened #221 "Problem processing the PENDING response message"
Some devices see problems processing the PENDING response message. The missing content just get's ignored and the following signer certificates of the PKCS#7 container get mis-interpreted as the created certificates. This is obviously a problem of the device but a fix in jscep seems to be a much easier way to fix the problem.

The idea is to add dummy content of the PKCS#7 container. This approach

[2022-03-15 09:45] seize-the-dave commented on #218
@jervin can you create a pull request and reference this item?

[2022-03-18 08:34] imrsk commented on #218
https://github.com/jscep/jscep/pull/219
This has been fixed

[2022-05-20 10:40] ICTlight opened #228 "A new version release？"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad